/* css reset */

*{
	margin: 0;
	padding: 0;
}

/*end of css reset */

/* grid style */
.row{
	width: 100%;
}

.col-1{
	width: 8.2%;
}

.col-2{
	width: 16.4%;
}

.col-3{
	width: 24.6%;
}

.col-4{
	width: 32.8%;
}

.col-5{
	width: 41%;
}

.col-6{
	width: 49.2%;
}

.col-7{
	width: 57.4%;
}

.col-8{
	width: 65.6%;
}

.col-9{
	width: 73.8%;
}

.col-10{
	width: 82%;
}

.col-11{
	width: 90.2%;
}

.col-12{
	width: 98.4%;
}

.row{
	width: 98.4%;
}

.skip-grid-2{
	margin-left: 16.4%;
}

.skip-grid-5{
	margin-left: 41%;
}

/* end of grid style */



/*button style */
.btn{
	/*setting padding*/
	padding:10px;

	/*setting outline*/
	outline: none;

	/*setting border*/
	border-style: solid;
	border-color: transparent;
	border-radius: 3px;
}

/* button background design */

.magenta{
	background-color: #3bb0ac;
	color: #f7f7f7;
}

.yellow{
	background-color: #e0c150;
	color: #f7f7f7;
}

.maroon{
	background-color:#820000;
	color: #f7f7f7;
}

/* button active style*/
.magenta:active{
	border-color: #339693;
}

.maroon:active{
	border-color: #6d0303;
}

.yellow:active{
	border-color: #d6d375;
}


/* table style */

.table{
	border-collapse: collapse;
}

.table tr:hover > td,tr:hover > th{
	background-color: #c6c6c6;
	color: #fcfcfc;
}

th, td{
	color: #303030;
	height: 30px;
	border-bottom: 1px solid #d9d9db;
	vertical-align: bottom;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: left;
}

/* stripped table style */
.stripped tr:nth-child(even){
	background-color: #d9dbdd;
}
/* end of stripped table */

/* end of table style */

/* form style */

.form{
	width: 50%;
}

.form-required-info{
	display: inline-block;
	text-align: right;
}

.form-input{
	border:1px solid #dbdde0;
	border-radius: 3px;
	font-size: 15px;
	padding: 10px;
}
.div[text=*]{ color: red; }

.form-label{
	display: inline-block;
	color: #303030;
}

form > button{
	margin-left: 20px;
}

form > * {
	margin: 5px 0 5px 0;
}
/* end of form */